*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    
}

html{
    scroll-behavior: smooth;
}

body{
    background:linear-gradient(rgb(143, 219, 229), rgb(244, 176, 104));
    
    
}

#section-1{
background:linear-gradient(rgb(143, 219, 229), rgb(244, 176, 104));
height:110vh;
border-bottom:1vh solid black;
}

.headings{
    text-decoration: underline;
    font-size:3vw;
    font-weight:bold;
    text-transform:uppercase;
    text-align:center;

}

/*Intro Section*/

#intro{
  
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
}
.lofi-girl-img{
    height:44vh;
    width:40vw;
    border:0.5vw solid black;
    border-radius:1vw;
   
}


#ra{
    height: 10vh;
    border:1vw solid black;
}

#header-1{
   
    margin-top:7vh;
    font-size:4vw;
    margin-bottom:4vh;
}

#subheader-1{
    font-size:2vw;
    margin-bottom:6vh;
}

#get-started-btn-container{
height:2vh;

display: flex;
flex-direction: row;
gap:4vh;
margin-top:8vh;
}



.get-started-btn{
    height:11vh;
    width:12vw;
    border-radius: 1vw;
  
  
    border:0.3vw solid black;
    font-size:1.3vw;
    font-weight:bold;
    color:black;
    
    cursor:pointer;
   background:linear-gradient(rgb(255, 102, 176), rgb(172, 172, 252));
}

#get-started-btn-1{
margin-bottom:1vh;
}

#get-started-btn-2{
   
}
.get-started-btn:hover{
    background-color: green;
}

#registered-link{
    margin-bottom:10vh;
}


/*Section 2*/

#section-2{
background:linear-gradient(rgb(143, 219, 229), rgb(244, 176, 104));
}

/*Features Section */

#features-section{
    
    
    display:flex;
    flex-direction:column;
    
}

#features-header{
    font-size:4vw;
    margin-top:4vh;
}

#features-list{
    list-style-type:disc; 
    text-align: center;
    justify-content: center;
    margin-bottom:20rem;
}

.feature-items{
    font-size:2vw;
    margin-bottom:2vh;
}



/*End of Features Section*/



/*How It Works Section */
#how-it-works{
    margin-bottom:10rem;
    text-align: center;
    align-items: center;
}

#how-it-works-container{
    display:flex;
    justify-content: center;
}
.circle{
    border-radius: 50%;
    height:36vh;
    width:65vw;
    font-size:1.7vw;
    margin-right:5rem;
    font-weight:500;
    background-color: rgb(57, 139, 88);
    justify-content: center;
    display: flex;
    text-align:center;
    align-items: center;
    border:10px solid black;
    
    
}

.arrow {
    height:12rem;
    width:12rem;
    margin-right:10rem;
    margin-top:26rem;
    align-items:center;
}



/*End of How It Works Section*/



/*Testimonial Section*/

#testimonials{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
  
    width:100%;
    border:10px;
    margin:auto;
    border-top:10px solid black;
    
    
}

#testimonials-header{
    font-size:4vw;
    margin-top:8vh;
    margin-bottom:4vh;
}

.testimonial-ad{
   
 
   justify-content: center;
   align-items: center;
    display:flex;
    border:0.5vw solid black;
   width:85vw; 
    margin:auto;
    height:65vh;
    margin-bottom:2vh;
    text-align:center;

  
}

.testimonial-img{
    height:43vh;
    width:21vw;
    border:0.5vw solid black;
    border-radius:50%;
    float:left;
   margin-right:1vh;
    margin-left:3vh;

    
}




.testimonial-text-container{
float:right;
margin-top:10rem;


}



.testimonial-ad-header{
    font-size:3vw;
    font-family: 'Courier New', Courier, monospace;
    margin-top:3vh;
   
    margin-bottom:2.3vh;
}
.testimonial-text{
    font-size:1.3vw;
  width:55vw;
  margin-left:8vh;
 
    color:black;
    font-family: 'Courier New', Courier, monospace;
    
}




/*End of Testimonial Section*/

/*End of Section 3*/

/*Footer Section */

#footer{
    
    width:100%;
    height:11vh;
 background:linear-gradient(rgb(143, 219, 229), rgb(244, 176, 104));
    border-top:.5vh solid black;
    display: flex;
    align-items: center;
    text-align: center;
    
}

#footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:auto;
}

#footer-text{
    font-size:1.1vw;
}



/*End of Footer Section */
