*{
    margin:0;
    padding:0;
    box-sizing: border-box;
   
    
}

html{
    scroll-behavior: smooth;
}

body{
    height:730rem;
    background:linear-gradient(orange, rgb(111, 111, 154));
    font-family:'Times New Roman', Times, serif;
}




#main-section{
    
    font-size:12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    flex-direction:column;
    padding-top:5rem;
}

button{
    height:14rem;
    width:100rem;
    font-size:13rem;
}

#navbar{
    
    
    width:98%;
    height:28rem;
    background:linear-gradient(orange, rgb(111, 111, 154));
    
    
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom:0;
    border-right:0;
    
    
    
    
}




.feature-items{
    
    
    height: 27rem;
    width:80rem;
    align-items:center;
    text-decoration-line:none;
    color:black;
    padding-top:6rem;
    font-size:10rem;
    font-weight: 500;
    flex-direction: row;
    border:10px solid black;
    border-radius:20%;
    
}

section{
    background:linear-gradient(orange, rgb(111, 111, 154));
    border:15px solid black;
    
    margin-top:0;
    padding:0;
    border-radius:30px;
    
    width:372rem;
    margin-bottom:2rem;
    margin-top:0;
    overflow: root;
    display: flow-root;
    height:100vh;
}


.features-header{
    text-decoration:underline;
    font-weight:400;
    font-size:13rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 
    margin-bottom:2rem;
    margin-right:2rem;
}

.features-subheader{
    margin-top:3rem;
    margin-bottom:8rem;
    font-size:8rem;
}



/*Home Section */

#skill-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom:10rem;
    gap:4rem;
}

.skill-label{
    font-size:10rem;
}
.skill-dropdown{
    height:12rem;
    width:110rem;
    font-size:7rem;
    background-color: rgb(221, 200, 169);
    border:4px solid black;
}
input[type="date"]::placeholder{
    margin-left:4rem;
}

option{
    font-family:Arial, Helvetica, sans-serif
}
#continue-btn{
    height:16rem;
    width:60rem;
    font-size:8rem;
    font-weight:bold;
    border-radius:4rem;
    background-color: rgb(126, 88, 88);
    border:10px solid black;
    cursor:pointer;
}

#date-container{
    display: flex;
}

#start-date, #end-date{
    height:11rem;
    width:100rem;
    font-size:6rem;
    background-color: rgb(221, 200, 169);
}

#dash{
    
}


/*Home Section End*/

/*To-Do List Section */
#to-do{
    
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style-position: inside;
}

#to-do-list{
    
    display: flex;
    flex-direction:column;
    list-style-position:inside;
    list-style-type:none;
    margin-bottom:10rem;
    margin-top:2rem;
}

.checkbox{
    height:6rem;
    width:6rem;
    margin-right:5rem;
    cursor:pointer;
}

.list-items{
    
    list-style-position:inside;
    font-size:10rem;
}

#todo-btn-container{
    display: flex;
    justify-content:center;
}

.to-do-list-btn{
    background:linear-gradient(rgb(55, 64, 107), rgb(66, 142, 45));
    cursor:pointer;
    height:15rem;
    width:70rem;
    border-radius:4rem;
    font-size:8rem;
}

#add-to-list-btn{
    font-size:4rem;
    font-weight:300;
    margin-right:2rem;
}

#remove-from-list-btn{
    
}



#add-btn{
    font-size:12rem; 
    padding-bottom:3rem;
}



#todo-input{
    width:120rem;
    height:15rem;
    justify-content: center;
    margin:auto;
    margin-top:4rem;
    margin-bottom:2rem;
    font-size:5rem;
    opacity:0.5;
}

.todo-item{
    border:2px solid black;
    
}


#add-item-text{
    font-size:8rem;
}
remove-item-text{
    
}
/*To Do List Section End*/

/*Progress Tracker*/

#progress-bar-container{
    height:140rem;
    width:300rem;
    

    margin-bottom:5rem;
    position:relative;
    margin-left:45rem;
   
    display: flex;
    justify-content: center;
    
}

#habits-main-section{
    justify-content: space-between;
  
    margin-right:13rem;
}

#progress-bar{
    height:40rem;
    width:0%;
    background-color:green;
    text-align:center;
    line-height:400rem;
    color:white;
    font-size:8rem;
    font-weight:bold;
}

#habits-list-header{
    font-size: 15rem;
    text-decoration-line: underline;
    margin-bottom:3rem;
}

#progress-tracker-table{
    border:10px solid black;
    height:100rem;
    width:80rem;
    
}

.pt-item{
    font-weight:normal;
    font-size:6rem;
}

.pt-data-cell{
border-bottom:2px solid black;

}
span{
    content: "\2714";
    color:green;
    height:10rem;
    width:10rem;
}



#progress-tracker-img{
    display:flex;
    float:right;
    height:80rem;
    width:82rem;
    margin-top:7rem;
    
}

input[type="checkbox"]{
    height:6rem;
    width:6rem;
    margin-right:5rem;
    cursor:pointer;
    background-color: green;
}

/*Progress Tracker Ends */






/*Skill History Section */




#trophy-img{
    height:15rem;
    width:15rem;
    margin-top:3rem;
}

#skill-history-container{
    height:200rem;
display: flex;
justify-content:center;

}

#skill-history-table{
    border:10px solid black;
    height: 100rem;
    margin-right: 30rem;
}

th, .sh-data-cell {
    border-bottom:5px solid black;
     border-right:5px solid black;
}

.sh-data-cell{
    height:10rem;
    width:100rem;
    
    padding-left:10rem;
    padding-right:10rem;
    background-color:blue;
    border-radius:10px;
}


#skill-history-img{
    height:100rem;
    width:120rem; 
 border-radius:10rem;
}

/*Skill History Section End*/

/*Settings Section */

#settings{
    height: 200rem;
}

#settings-header{
    margin-bottom:4rem;
}

#settings-section{
    height:140rem;
    width:370rem;
    border:15px solid black;
    border-radius:5rem 0rem 5rem 0rem;
}
#settings-list{
    list-style-type:none;
    display:flex;
    flex-direction:row;
    font-family: Arial, Helvetica, sans-serif;
    font-size:6rem;
    height:17rem;
    justify-content: space-between;
    width:98%;
    border:10px solid black;
    text-align: center;
    justify-content: space-between;
    margin:auto;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius:5rem 5rem 5rem 5rem;/* bottom, top*//
}

.settings-box{
    height:125rem;
    width:368rem;
    margin-top:2rem;
    border:40px solid black;

    background-color: rgb(156, 156, 83);
    padding-bottom:0;
   
}
/*Box 1*/


#social-media-list{

}

.social-media-items{
background-color: white;
}
/*Box 1 ends*/


/*Box 2*/




/*Box 2 ends*/


/*Box 3*/


/*Box 3 ends*/

/*Box 4*/


/*Box 4 ends*/
/*Box 5*/





/*Box 5 ends*/
#settings-box-1{
    

}
#settings-box-2{
    
}
#settings-box-3{
    
}
#settings-box-4{
    
}
#settings-box-5{
    
}

.settings-box{
    font-size:5rem;
    
}


.settings-items{
    border-right:15px solid black;
    height:17rem;
    
    padding-right:12rem;
    padding-left:5rem;
    margin-right:2rem;
    margin-left:2rem;
    padding-top:5rem;
    border-radius:0rem 0rem 0rem 0rem;
    border-bottom:0;
    cursor:pointer;
}

#settings-icon{
    height:15rem;
    width:15rem;
    margin-top:3rem;
}

#notification-btn{
    padding-left:10rem;
}

#help-support-btn{
    border-right:none;
}
.settings-btn{
    height:13rem;
    width:45rem;
    font-size:5rem;
    border:10px solid black;
    border-radius:10rem;
    cursor:pointer;
    background:linear-gradient (orange, rgb(111, 111, 154));
    margin-top:10rem;
    bottom:0;
    float:bottom;
}
#save-changes-btn{
    margin-right:10rem;
    margin-top:0;
}

#settings-footer{
    margin-top:0;
    margin-bottom:20rem;
}

/*Settings Section End*/

/*Footer Section */

#footer{
    
    width:100%;
    height:20rem;
    background-color:rgb(141, 116, 87);
    border-top:4px solid black;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
   
  
    
    
}

#footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    bottom:0;
    margin:auto;
}

#footer-text{
    font-size:4rem;
}



/*End of Footer Section */